{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock title %}


{% block content %}

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Portfolio <strong>3 cols</strong></h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Portfolio</a><i class="icon-angle-right"></i></li>
              <li class="active">Portfolio 3 columns</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="portfolio-categ filter">
              <li class="all active"><a href="#">All</a></li>
              {% for cat in categories %}
              <li class="{{ cat.category_class_name }}"><a href="#" title="">{{ cat.category_name }}</a></li>
              {% endfor %}
            </ul>
            <div class="clearfix">
            </div>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">

                  <!-- --------------------data-type="web"------------------ -->
                  <!-- Item Project and Filter Name -->
                  {% for galweb in galleries_web %}
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" 
                      title="{{ galweb.gallery_image_title|title }}" 
                      href="{{ galweb.gallery_image_full.url }}">
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    </a>
                    <!-- Thumb Image and Description -->
                    <img 
                      src="{{ galweb.gallery_thumbnail.url }}" 
                      alt="{{ galweb.gallery_image_description }}">
                  </li>
                  {% endfor %}
                  <!-- End Item Project -->
                  <!-- --------------------end data-type="web"------------------ -->

                  <!-- --------------------data-type="icon"------------------ -->
                  <!-- Item Project and Filter Name -->
                  {% for galicon in galleries_icon %}
                  <li class="item-thumbs span4 photography" data-id="id-5" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" 
                      title="{{ galicon.gallery_image_title|title }}" 
                      href="{{ galicon.gallery_image_full.url }}">
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    </a>
                    <!-- Thumb Image and Description -->
                    <img 
                      src="{{ galicon.gallery_thumbnail.url }}" 
                      alt="{{ galicon.gallery_image_description }}">
                  </li>
                  {% endfor %}
                  <!-- End Item Project -->
                  <!-- --------------------end data-type="icon"------------------ -->

                  <!-- --------------------data-type="graphic"------------------ -->
                  <!-- Item Project and Filter Name -->
                  {% for galgraphic in galleries_graphic %}
                  <li class="item-thumbs span4 photography" data-id="id-2" data-type="graphic">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" 
                      title="{{ galgraphic.gallery_image_title|title }}" 
                      href="{{ galgraphic.gallery_image_full.url }}">
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    </a>
                    <!-- Thumb Image and Description -->
                    <img 
                      src="{{ galgraphic.gallery_thumbnail.url }}" 
                      alt="{{ galgraphic.gallery_image_description }}">
                  </li>
                  {% endfor %}
                  <!-- End Item Project -->
                  <!-- --------------------end data-type="graphic"------------------ -->

                  <!-- --------------------data-type="graphic"------------------ -->
                  <!-- Item Project and Filter Name -->
                  {% for galwebdev in galleries_webdev %}
                  <li class="item-thumbs span4 photography" data-id="id-2" data-type="webdev">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" 
                      title="{{ galwebdev.gallery_image_title|title }}" 
                      href="{{ galwebdev.gallery_image_full.url }}">
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    </a>
                    <!-- Thumb Image and Description -->
                    <img 
                      src="{{ galwebdev.gallery_thumbnail.url }}" 
                      alt="{{ galwebdev.gallery_image_description }}">
                  </li>
                  {% endfor %}
                  <!-- End Item Project -->
                  <!-- --------------------end data-type="graphic"------------------ -->

                  <!-- End Item Project -->
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}